.report-text
  %h2 Most excited about:
  %p#excited= markdown report.excited
  %h2= "Achieved since #{date_text(report.previous_day,report.today).titleize}:"
  %ol#achievements
    - report.achievements.each do |achievement|
      %li= achievement.text
  %h2= "Plan to achieve next:"
  %ol#tasks
    - report.tasks.each do |task|
      %li= task.text
  %h2 Who can help me?
  #help_needed= markdown(report.help_needed, nl2br=true)

